# Telegram Bot Token (BotFather'dan al)
TELEGRAM_BOT_TOKEN=sizin_bot_tokeniniz

# Marzban Panel Maglumatlary
MARZBAN_PANEL_URL=https://luxuryy.turkmen-tagamlary.xyz:8443
MARZBAN_ADMIN_USERNAME=sizin_admin_ulanyjy_adyňyz
MARZBAN_ADMIN_PASSWORD=sizin_admin_açar_sözüňiz

# Admin Telegram ID (opsional, diňe bu ID'e rugsat berýär)
ADMIN_TELEGRAM_ID=sizin_telegram_idňiz
