TELEGRAM_BOT_TOKEN=8761065175:AAHcSfuX2SSu1x4cJCGcAVAnwgNmzjTHhXU
MARZBAN_PANEL_URL=https://luxuryy.turkmen-tagamlary.xyz:8443/chacakdyaie/ajehaishsel
MARZBAN_ADMIN_USERNAME=kema87
MARZBAN_ADMIN_PASSWORD=frost
ADMIN_TELEGRAM_ID=8216327129
